@charset "utf-8";
  .scroll{height: 200px;margin-top: 50px;}
  
  /* 画面買い */
  .right_in {
    transform: translateX(-10%);
    transition: all 1s ease-in;
    opacity: 0;
    transition: all 1.5s;
  }
  .left_in {
    transform: translateX(10%);
    transition: all 1s ease-in;
    opacity: 0;
    transition: all 1.5s;
  }
  
  /* 画面に入った時の動き */
  .right_in.blockIn {
    transform: translateX(0);
    opacity: 1;
  }
  .left_in.blockIn {
    transform: translateX(0);
    opacity: 1;
  }