@charset "utf-8";
body
{
    font-family: 'Noto Serif JP', serif;
    transition: background-color 1s;
    transition: background-color 2s;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: black;
}
ul{
list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.clear{clear: both;}
.hidden{display: none;}
@media screen and (max-width: 767px) {
  .pc{
    display: none!important;
  }
}
@media screen and (min-width: 768px) {
  .phone{
    display: none!important;
  }
}
 
.mask-landscape {
  background-color: rgba(128, 128, 128, 0.226);
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: table;
  width: 100vw;
  height: 100vh;
}
 
.mask-landscape h1 {
  font-size: 20vw;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/* ////////////////////////////////
ヘッダー
/////////////////////////////////*/
#nav ul{
  position: fixed;
  right: 0;
  z-index: 3;
  display: flex;
}
#nav ul li{
  color: white;
  margin-right: 20px;
}
#header_fixed_text{
  line-height: 15px;
  width: 100%;
  height: 100%;
  color: white;
}
#header_fixed_text a:nth-of-type(1){
  z-index: 3;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0%,-50%);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
#header_fixed_text a:nth-of-type(2){
  z-index: 3;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0%,-50%);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
#nav.color_change ul li a,#nav.color_change ul li,#header_fixed_text.color_change a{
  color: black;
}
/* ////////////////////////////////
トップビデオ
/////////////////////////////////*/
#topmovframe{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#topmov_logo{
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  min-width: 350px;
  transform: translate(-50%,-50%);
  animation: logofeedin 1s forwards;
}
@keyframes logofeedin{
  1%{
    opacity: 0;
    transform: translate(-50%,-50%) scale(0.7);
  }
  100%{
    opacity: 0.8;
    transform: translate(-50%,-50%) scale(0.5);
  }
}
@media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) {
  .topmov{  height: auto;width:100%;}
}

@media (max-aspect-ratio: 16/9) {
  .topmov{  height: 100vh;width: auto;}
}
.topmov{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#topmov_scroll{
  position: absolute;
  left: 50%;
  top: 85%;
  width: min(50%,320px);
  opacity: 0.8;
  transform: translate(-50%,-50%) scale(0.5);
}
/* ////////////////////////////////
メイン　
/////////////////////////////////*/
@media screen and (max-width: 543px) {
  main section:nth-of-type(n+2){
    width: 80%;
    margin: 0 auto;
  }
  .section_text div:nth-of-type(1){
    width: 40px!important;
  }
  .section_text h2{
   font-size: 30px!important;
  }
  .section_text h3{
    font-size: 15px!important;
   }
}
@media screen and (min-width: 544px) {
  main section:nth-of-type(n+2){
    width: 60%;
    min-width: 350px;
    margin: 0 auto;
  }
  .section_text{
    margin-left: -100px;
  }
}
.section_text{
  margin-top: 55px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.section_text h2{
  white-space: nowrap;
  font-size: 35px;
  margin: 0;
}
.section_text h3{
  font-weight: bold;
  color: rgb(180, 0, 0);
  font-size: 20px;
  margin: 0 10px;
}

.form_ancar{
  color: black;
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid black;
  overflow: hidden;
}
.form_ancar:hover{
  color: rgb(255, 255, 255);
  background-color: black;
  transition: 0.5s;
}
/* ////////////////////////////////
メイン　企業概要
/////////////////////////////////*/
#kigyou{
  position: relative;
  height: 600px;
}
@media screen and (max-width: 543px) {
  #kigyou img{
    width: 100% !important;
  }
}
#kigyou img{
  width: max(60%,300px);
  position: absolute;
  left: 0%;
}
@media screen and (max-width: 543px) {
  #kigyou p{
    width: 100% !important;
    box-sizing: border-box;
  }
}
#kigyou p{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  background-color: white;
  font-size: 16px;
  box-shadow: rgb(121, 121, 121) 2px 2px 3px;
  width: 50%;
  min-width: 300px;
  opacity: 0;
  transform: translate(0%,20%);
}
#kigyou.active p{
  opacity: 1;
  transform: translate(0%,0%);
  transition: 1s;
}
/* ////////////////////////////////
メイン　事業内容
/////////////////////////////////*/
#zigyou{
  text-align: center;
  margin-bottom: 100px;
}
#zigyou_p{
  padding: 10px 20px;
  transform: scaleX(0%);
  background-color: rgb(230, 230, 230);
}
#zigyou.active #zigyou_p{
  transform: scaleX(100%);
  transition: 1s ;
}
#zigyou_p p{
  text-align: left;
  opacity: 0;
  transform: translate(0%,20%);
}
#zigyou.active #zigyou_p p{
  opacity: 1;
  transform: translate(0%,0%);
  transition: 1s 1s;
}
#zigyou_img{
  margin: 50px auto 0px;
  width: 100%;
}
.service_content{
  position: relative;
  width: 90%;
  min-width: 300px;
  height: 350px;
  margin: 50px auto;
}
.service_img{
  position: absolute;
  height: 300px;
  width: 50%;
  min-width: 300px;
}
#zigyou_img .service_content:nth-child(odd) .service_img{
  top: 0;
  left: 0;
}
#zigyou_img .service_content:nth-child(even) .service_img{
  top: 0;
  right: 0;
}
#zigyou_img .service_content:nth-child(even) .service_img_darkness{
  transform-origin: right;
}
.service_img_re{
  width: 100%;
  height: 100%;
  position: relative;
}
.service_img_darkness{
  position: absolute;
  transform: scaleX(0%);
  transform-origin: left;
  background-color: black;
  height: 100%;
  width: 100%;
}
.service_img_picture{
  position: absolute;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transform-origin: left;
  height: 100%;
  width: 100%;
}
#service01 .service_img_picture{  background-image: url(./img/work/01.jpg);}
#service02 .service_img_picture{  background-image: url(./img/work/02.jpg);}
#service03 .service_img_picture{  background-image: url(./img/work/03.jpg);}
#service04 .service_img_picture{  background-image: url(./img/work/04.jpg);}
.service_content.active .service_img_darkness{
  transform: scaleX(100%);
  transition: 1s;
}
.service_content.active .service_img_picture{
  opacity: 1;
  transition: 1s 1s;
}
.service_content.active .service_p{
  box-shadow: rgb(105, 105, 105) 2px 2px 3px;
  background-color: white;
  transform: translate(0%,0%);
  transition: 1s 1s;
}
.service_content.active p:nth-of-type(1){
  transform: translate(0%,0%);
  opacity: 1;
  transition: 1s 1.5s;
}
.service_content.active p:nth-of-type(2){
  transform: translate(0%,0%);
  opacity: 1;
  transition: 1s 2s;
}
.service_content.active p:nth-of-type(3){
  transform: translate(0%,0%);
  opacity: 1;
  transition: 1s 2.5s;
}
.service_p{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  transform: translate(0%,20%);
  z-index: 1;
  width: 60%;
  min-width: 300px;
  text-align: center;
}
#zigyou_img .service_content:nth-child(odd) .service_p{
  bottom: 0;
  right: 0;
}
#zigyou_img .service_content:nth-child(even) .service_p{
  bottom: 0;
  left: 0;
}

.service_p p:nth-of-type(1){
  text-align: left;
  margin: 20px 0px 0px 20px;
  transform: translate(0%,20%);
  opacity: 0;
}
.service_p p:nth-of-type(2){
  text-align: left;
  font-weight: bold;
  font-size: large;
  margin: 20px 0px 20px 20px;
  transform: translate(0%,20%);
  opacity: 0;
}
.service_p p:nth-of-type(3){
  text-align: left;
  margin: 0px 0px 40px 20px;
  transform: translate(0%,20%);
  opacity: 0;
}
/* ////////////////////////////////
メイン　求人内容
/////////////////////////////////*/
#kyuujin{
  margin-top: 50px;
}
#kyuujin p{
  margin: 0 auto;
  width: 85%;
}
.design08 {
  margin: 20px auto;
  width: 85%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .design08 th {
  padding: 10px;
  background: #778ca3;
  border: solid 1px #666666;
  color: #ffffff;
 }
 .design08 td {
  padding: 10px;
  border: solid 1px #666666;
 }
 .design08 td:first-child {
  background: #e9faf9;
 }
 .design08 td:nth-of-type(n+2){
   background-color: white;
 }
 @media screen and (max-width: 543px) {
  #kyuujin_address{
    width: 100%!important;
    box-sizing: border-box;
  }
 }
 #kyuujin_address{
   text-align: center;
   border: dashed gray 2px;
   margin: 0 auto;
   width: 50%;
   padding: 20px;
   background-color: #dfdfdf;
 }
 #kyuujin_address p:nth-of-type(2){
   font-size: 30px;
 }
 #kyuujin_address a{
  color: black;
  text-decoration: underline;
}
/* ////////////////////////////////
フッター
/////////////////////////////////*/
footer{
  color: white;
  margin-top: 100px;
  background-color: #0E192D;
}
@media screen and (max-width: 677px) {
  footer>div{
    height: auto;
  }
}
@media screen and (max-width: 996px) and (min-width: 668px) { 
  footer>div{
    height: 600px;
  }
}
@media screen and (min-width: 997px) {
  footer>div{
    height: 400px;
  }
}
footer>div{
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
footer>div>div{
  margin: 20px;
}
footer ul{
  margin: 0;
  padding-inline-start: 10px;
}
footer #map{
  position: relative;
  width: 200px;
  height: 150px;
  overflow: hidden;
}
footer iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer>p{
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
  padding-bottom: 20px;
}
footer a:hover{
  color: #a8a8a8;
  transition: .5s;
}